# Base ----------------------------------------
torch
transformers
deepspeed
sentencepiece
protobuf
modelscope
pyarrow
nvitop
pandas
scikit-learn
project_llm_model==0.7.8
project_llm_trainer==0.13.10
bottle
paste
# waitress
