# Base ----------------------------------------
transformers
deepspeed
sentencepiece
protobuf
modelscope
pyarrow
nvitop
pandas
scikit-learn
project_llm_model==0.5.3
project_llm_trainer==0.8.3
bottle
paste
# waitress
