# Base ----------------------------------------
torch
transformers
deepspeed
sentencepiece
protobuf
modelscope
pyarrow
nvitop
pandas
scikit-learn
project_llm_model
project_llm_trainer==0.11.7
bottle
paste
# waitress
